<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="vm.query" />

        </div>

        <p>
            Sort by:
            <select ng-model="vm.orderProp">
                <option value="first_name">By First</option>
                <option value="last_name">By Last</option>
                <option value="id">By ID</option>
            </select>
        </p>

        <div class="col-md-10">
            <!--Body content-->

            <ul>
                <li ng-repeat="contact in vm.contacts | filter:vm.query | orderBy:vm.orderProp">
                    <a href="#!/contacts/{{contact.id}}">
                        <img ng-src="{{contact.avatar}}" alt="{{contact.name}}">
                    </a>
                    <a href="#!/contacts/{{contact.id}}">{{contact.first_name}} {{contact.last_name}}</a>
                    <p>{{contact.email}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>